.channel__header {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    padding-top: 100px;
    position: relative;
    background-position: center;

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #ccc;
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translate(-50%);
        z-index: 100;
    }
}

.channel__info {}