#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 10000;
    background-color: #1C1C1C;
    overflow-y: scroll;
    border-right: 1px solid #292929;
}

#main {
    max-width: 2000px;
    height: calc(100vh - 64px);
    margin: 0 auto;
    padding-left: 260px;
    background-color: #1C1C1C;
    position: relative;
}

#footer {
    text-align: center;
    background-color: #222;
    padding: 20px 20px 20px 260px;
}

#hongkong,
#sanghae,
#tokyo,
#tokyosea,
#osaka {
    padding: 40px;

    h2 {
        margin-bottom: 0.6rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 960px) {
    #header {
        left: -260px;
    }

    #main {
        padding-left: 0;
        margin-top: 80px;
    }

    #hongkong,
    #sanghae,
    #tokyo,
    #tokyosea,
    #osaka {
        padding: 20px;

        h2 {
            margin-bottom: 0.6rem;
            font-size: 1.25rem;
        }
    }
}